ignore/
output_files/ataskaita.txt
output_files/audra.txt
output_files/bendra_statistika.txt
output_files/krituliai.txt
output_files/menesiai.txt
output_files/metai.txt
output_files/pazangus.csv
output_files/sandelis.csv